/* Footer */
footer {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        > * {
            width: 15%;

            &.footerLogo {
                width: 20%;
            }
        }
    }

    h2 {
        font-family: $fontMain;
        font-size: 16px;
        margin-bottom: 10px;

        &:not(.plusTitle) {
            text-transform: uppercase;
        }
    }

    li {
        list-style: none;

        a {
            font-size: 14px;
            display: block;
            color: inherit;
            margin-top: 5px;
            border-left: 0px solid rgba(255,255,255,0);

            &:hover,
            &:focus {
                color: $blue;
                border-left: 2px solid $yellow;
                padding-left: 10px;
            }
        }
    }

    p {
        font-size: 14px;
        padding-bottom: 5px;

        a {
            color: inherit;
        }
    }

    .socialGroup {
        justify-content: space-between;
        margin-top: 10px;
    }

    .copyright {
        text-align: center;
        padding: 0 8% 4%;

        a:hover,
        a:focus {
            text-decoration: underline;
        }
    }
}