/*-- features page --*/

$lightBlue: #d6e9f4;
$lightGreen: #e2f8ed;

.features {

    .topBar {
        background-color: transparent;
    }

    section.banner {
            background-image: url(https://cdn2.hubspot.net/hubfs/2831904/2018/features/features_background.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 20% 10%;
            height: 150vh;
            max-height: 700px;
            min-height: 500px;

           .container {
               h1, h2, h3, h4, h5, p {
                    width: 50%;
               }

            }
            
            h1 {
                font-size: 3em;
            }

            h2 {
                font-weight: 400;
                margin-top: 20px;
                margin-bottom: 30px;
                font-size: 1.4em;
            }

            .buttonRow {
                .playBtn {
                    color: #3f3f3f;
                    .fa {
                        border: 5px solid #3f3f3f;
                    }
                }
            }

    };

    .featuresNav {
        display: flex;
        height: 30vh;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .plusLogo {
            position: absolute;
            top: -60px;
            left: 57%;
        }
        .featureLink {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 16.28%;
            background-color: $lightBlue;
            border-right: 2px solid gray;
            border-top: 2px solid gray;
            border-bottom: 2px solid gray;
            color: #3f3f3f;
            text-align: center;
            h2 {
                font-size: 1em;
                line-height: 1;
                margin-top: 10px;
                transition: all 0.3s;
                margin-bottom: 0;
            }
        }

        .featureLink:first-of-type {
            //  border-right: 2px solid transparent;
        }

        .featureLink:last-of-type {
            border-right: 2px solid transparent;
        }

        .featureLink.plusLink {
            background-color: $lightGreen;
            position: relative;
            img.plusLogo {
                position: absolute;
                top: -62px;
                left: -5px;
            }
        }

        .featureLink:hover, .featureLink:active, .featureLink:focus {
            border: 2px solid $blue;
            transform: scale(1.03);
            outline: none;
            z-index: 1;
            h2 {
                color: $blue;
            }
        }

        .featureLink.plusLink:hover, .featureLink.plusLink:active, .featureLink.plusLink:focus {
            border: 2px solid $green;
            transform: scale(1.03);
            outline: none;
            h2 {
                color: $green;
            }
            img.plusLogo {
                transform: scale(.97);
            }
        }
    }

    .centeredText .container {
        h2, p {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            max-width: 465px;
        }
        h2 {
            margin-bottom: 20px;
            font-size: 1.6em;
        }
    }
 
    .featuresList {
        .container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            .feature {
                width: 33.333%;
                padding-right: 50px;
                margin-bottom: 50px;
                .imgDot {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $lightBlue;
                    border-radius: 50%;
                    img {
                        max-width: 100%;
                        height: auto;
                        width: 50%;
                    }
                }
                h3 {
                    margin-top: 30px;
                    margin-bottom: 10px;
                }

            }
            .plusFeature .imgDot {
                background-color: $lightGreen;
            }
        }
    }
    .imageLeftTextRight {
        .container {
            display: flex;
            .right, .left {
                width: 50%;
                .btn {
                    display: inline-block;
                    margin-top: 20px;
                }
            }

            .left {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                div {
                    width: 70%;
                }
            }

            .right {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                    padding: 30px 10% 30px 0;
                // margin-top: 60px;
                // margin-bottom: 60px;
            }
        }
    }

    .imageRightTextLeft {
        .container {
            display: flex;
            .right, .left {
                width: 50%;
                .btn {
                    display: inline-block;
                    margin-top: 20px;
                }
            }
            .left {
                    padding: 30px 10% 30px 0;
                div {
                    width: 70%;
                }
            }
            .right {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                // margin-top: 60px;
                // margin-bottom: 60px;
            }
        }
    }
}

